SUPABASE_URL=https://cerymodhjkteiprznzdm.supabase.co
SUPABASE_ANON_KEY=sb_publishable_8Rfc3E83rMJwWPNa95OX1g_bKwgQr7W
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlcnltb2Roamt0ZWlwcnpuemRtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzI3NDAxOCwiZXhwIjoyMDkyODUwMDE4fQ.3XZXVwbDqqYGzVkqhA20isYKsAb41k6-tNonEIVGsNQ
DATABASE_URL=postgresql://postgres:[matamaajit4]@db.cerymodhjkteiprznzdm.supabase.co:5432/postgres
COLLECTUG_API_KEY=BM0dWfBkBaiqrlxtpz6LuGMKnfGcyWZGTfHpQcs2P5GHAyhEdM4gSA7PNsuV2vCe
COLLECTUG_BASE_URL=https://collectug.com/api

MEDQR_SESSION_SECRET=wpgkKNzUBzwdsr0-PaXT-b_FUVaAOE-Tl3jMW4Nn50w
MEDQR_SEED_SECRET=wfGhxrGYF8gs942CR6_tNnZUHkJmINxD7vJmipD0mLY
MEDQR_SEED_PASSWORD=AzhbD1kpI7A6hhV_A0TQrEpNCPQXvktm
